/* Hay que acordarse de matar estos css antes de entregar <3 */

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --clr-light: #FFF4E3;
    --clr-dark: #3C291C;
    --clr-light-2: #FFF4E2;
    --clr-dark-2: #3C291B;
    --clr-secondary: #C49279;
    --clr-accent: #BED4F9;
    --hover-accent: #80A4E1;
    --font-title: "Bebas Neue", serif;
    --font-body: "Raleway", serif;
    --buttons-corner: 50px;
}


#about {
    height: 100vh;
    background-color: var(--clr-light);
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--clr-dark);
}

#about .about-img {
    width: 30%;
}

#about .about-img > img {
    width: 100%;
    height: auto;
}

#about img {
    width: 100%;
    height: auto;
}

#about .about-up {
    padding-bottom: 8em;
}
#about .about-down {
    padding-top: 8em;
}

#about .about-centro {
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 2em;
}

#about h2 {
    font-family: "Italiana", sans-serif;
    text-align: left;
    width: 100%;
    padding-left: 1em;
}


.button-1 {
    color: var(--clr-dark-2);
    background-color: var(--clr-accent);
    border-radius: var(--buttons-corner);
    padding: 0.4em 4em;
    text-align: center;
    font-weight: 700;
    font-size: 0.8em;
    margin: 1em;
    text-decoration: none;
}

.button-1:hover {
    background-color: #799cda;
    cursor: pointer;
}

/* footer */
footer {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.terms p,
.nl-text p,
#sm p {
    font-size: 0.9em;
}

.terms p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.nl-text p:first-child {
    font-weight: 600;
}

.nl-text {
    color: var(--clr-light);
}

.nl-text::before {
    content: "";
    position: absolute;
    left: 0;
    height: 60%; 
    width: 1px;
    background-color: var(--clr-light);
}

.nl {
    border-bottom: 2px solid var(--clr-light); 
    border-radius: 8px;
}

.form-nl {
    background-color: transparent;
    border: none;
    padding: 5px; 
    outline: none; 
    color: var(--clr-light) !important;
}

.form-nl::placeholder {
    color: var(--clr-light);
    opacity: 0.8;
    font-family: var(--font-body);
    font-size: 0.8em;
}

.form-nl:focus {
    background-color: transparent;
}

.iconsSM i:hover {
    cursor: pointer;
    color: var(--clr-accent) !important;
}

@media only screen and (max-width: 800px) {
    #about .about-img {
        width: 25%;
    }
    #about .about-centro {
        width: 50%;
    }
    #about .about-up {
        padding-bottom: 12em;
    }
    #about .about-down {
        padding-top: 12em;
    }
  }

  @media only screen and (max-width: 800px) {
    #about .about-up {
        padding-bottom: 16em;
    }
    #about .about-down {
        padding-top: 16em;
    }
  }

  @media only screen and (max-width: 600px) {
    #about {
        height: auto;
        background-color: var(--clr-light);
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--clr-dark);
    }
    #about .about-img {
        width: 100%;
    }
    #about .about-centro {
        width: 100%;
    }
    #about .about-up {
        padding-bottom: 0em;
        padding-right: 12em;
    }
    #about .about-down {
        padding-top: 0em;
        padding-left: 12em;
    }

    #about .about-img > img {
        height: 15em;
        width: 100%;
    }
    #about img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  }

  @media only screen and (max-width: 600px) {
    #about .about-up {
        padding-bottom: 0em;
        padding-right: 10em;
    }
    #about .about-down {
        padding-top: 0em;
        padding-left: 10em;
    }

    #about .about-img > img {
        height: 12em;
        width: 100%;
    }
  }

  @media only screen and (max-width: 300px) {
    #about .about-up {
        padding-bottom: 0em;
        padding-right: 4em;
    }
    #about .about-down {
        padding-top: 0em;
        padding-left: 4em;
    }

    #about .about-img > img {
        height: 12em;
        width: 100%;
    }
  }
 
  