/* Hay que acordarse de matar estos css antes de entregar <3 */

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --clr-light: #FFF4E3;
    --clr-dark: #3C291C;
    --clr-light-2: #FFF4E2;
    --clr-dark-2: #3C291B;
    --clr-secondary: #C49279;
    --clr-accent: #BED4F9;
    --hover-accent: #80A4E1;
    --font-title: "Bebas Neue", serif;
    --font-body: "Raleway", serif;
    --buttons-corner: 50px;
}
#faq {
    background-color: var(--clr-light);
    padding: 5em 20em;
}

.button-1 {
    color: var(--clr-dark-2);
    background-color: var(--clr-accent);
    border-radius: var(--buttons-corner);
    padding: 0.4em 4em;
    text-align: center;
    font-weight: 700;
    font-size: 0.8em;
    margin: 1em;
    text-decoration: none;
}

.button-1:hover {
    background-color: #799cda;
    cursor: pointer;
}

#faq-intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: var(--clr-dark);
    padding-bottom: 4em;
}
#faq-intro h1 {
    font-family: var(--font-title);
}
#faq-intro p {
    font-family: var(--font-body);
}

/* -----------ACCORDION----------- */
.accordion-button {
    background-color: var(--clr-light);
    font-family: var(--font-body);
    color: var(--clr-dark);
    padding: 16px 20px 5px 2px;
}
.accordion-item button {
    font-weight: 500;

}

.accordion-item {
    border-bottom: 1px solid var(--clr-dark);
}

.accordion-collapse {
    background-color: var(--clr-light);
    font-family: var(--font-body);
    color: var(--clr-dark);
}

.accordion-button:not(.collapsed) {
    color: var(--clr-dark);
    background-color: var(--clr-light);
    box-shadow: none;
}
.accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: none;
}

/* footer */
footer {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.terms p,
.nl-text p,
#sm p {
    font-size: 0.9em;
}

.terms p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.nl-text p:first-child {
    font-weight: 600;
}

.nl-text {
    color: var(--clr-light);
}

.nl-text::before {
    content: "";
    position: absolute;
    left: 0;
    height: 60%; 
    width: 1px;
    background-color: var(--clr-light);
}

.nl {
    border-bottom: 2px solid var(--clr-light); 
    border-radius: 8px;
}

.form-nl {
    background-color: transparent;
    border: none;
    padding: 5px; 
    outline: none; 
    color: var(--clr-light) !important;
}

.form-nl::placeholder {
    color: var(--clr-light);
    opacity: 0.8;
    font-family: var(--font-body);
    font-size: 0.8em;
}

.form-nl:focus {
    background-color: transparent;
}

.iconsSM i:hover {
    cursor: pointer;
    color: var(--clr-accent) !important;
}

@media only screen and (max-width: 1100px) {
    #faq {
        background-color: var(--clr-light);
        padding: 5em 15em;
    }
}

@media only screen and (max-width: 900px) {
    #faq {
        background-color: var(--clr-light);
        padding: 5em 10em;
    }
}
@media only screen and (max-width: 700px) {
    #faq {
        background-color: var(--clr-light);
        padding: 5em 6em;
    }
}

@media only screen and (max-width: 500px) {
    #faq {
        background-color: var(--clr-light);
        padding: 5em 3em;
    }
}