/* Hay que acordarse de matar estos css antes de entregar <3 */

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --clr-light: #FFF4E3;
    --clr-dark: #3C291C;
    --clr-light-2: #FFF4E2;
    --clr-dark-2: #3C291B;
    --clr-secondary: #C49279;
    --clr-accent: #BED4F9;
    --hover-accent: #80A4E1;
    --font-title: "Bebas Neue", serif;
    --font-body: "Raleway", serif;
    --buttons-corner: 50px;
}

#carta-header {
    background-image: url("../media/img/menu-fondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 14em;
    background-color: #3C291C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
#carta-header h1{
    color: var(--clr-light-2);
}

#carta-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#carta-nav a {
    text-decoration: none;
    color: var(--clr-light-2);
    height: 100%;
    padding: 0 0.6em;
    font-weight: 600;
    font-size: 1em;
}

#carta-nav h4 {
    color: var(--clr-light-2);
    height: 100%;
    padding: 0 0.6em;
    margin: 0;
}

#cofee {
    margin: 3em 9em 0 9em;
}


.row {
    --bs-gutter-x: 1.8em;
}

.carta-titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--font-body);
}

.carta-titulo h2 {
    font-family: var(--font-body);
    font-weight: 700;
    font-size: 2.5em;
    white-space: nowrap;
    color: var(--clr-dark);
}

.carta-titulo > div {
    height: 2px;
    width: 100%;
    background-color: var(--clr-dark);
    margin-left: 1em;
}

#cofee div {
    color: var(--clr-dark);
}

.comida {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carta-img  {
    height: 10em;
    width: 10em;
    margin-top: 2em;
}

.carta-img img {
    object-fit: cover;
    height: 100%;
    width: auto;
    transition: 1s;
    padding: 0.5em;
}

.carta-img img:hover {
    rotate: -60deg;
    padding: 0em;
}

.carta-precio {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:flex-start;
    width: 100%;
    margin-top: 1em;
}

.carta-precio h3 {
    font-family: var(--font-body);
    color: var(--clr-dark);
    font-weight: 700;
    font-size: 1.4em;
}

.carta-precio h4 {
    color: #80A4E1;
    padding-left: 0.7em;
    font-size: 1.2em;
}

.comida p {
    text-align: left;
    font-size: 0.9em;
    font-weight: 500;
}

/* -----DRINKS----- */

#drinks {
    background-color: var(--clr-secondary);
    padding: 3em 9em 3em 9em;
    margin-top: 3em;
}

#drinks.carta-titulo  {
    color: var(--clr-dark-2);
}

#drinks .carta-titulo > div {
    background-color: var(--clr-dark-2);
}

#drinks .comida h4 {
    color: white;
}

#drinks .row {
    --bs-gutter-x: 3em;
}

#drinks h3, h4 {
    margin: 0;
}

/* -----PASTRIES----- */

#pastries {
    margin: 3em 9em 0 9em;
}

#tyb {
    margin: 3em 9em 0 9em;
}

#tyb .row {
    --bs-gutter-x: 4em;
}

#tyb p {
 text-align: left;
}

#tyb h3, h4 {
    margin: 0;
}





