* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --clr-light: #FFF4E3;
    --clr-dark: #3C291C;
    --clr-light-2: #FFF4E2;
    --clr-dark-2: #3C291B;
    --clr-secondary: #C49279;
    --clr-accent: #BED4F9;
    --hover-accent: #80A4E1;
    --font-title: "Bebas Neue", serif;
    --font-body: "Raleway", serif;
    --buttons-corner: 50px;
}

img {
    width: 100%;
    vertical-align: middle;
}

h1,
h2,
h3 {
    font-family: var(--font-title);
}

h4,
p {
    font-family: var(--font-body);
}

body {
    background-color: var(--clr-light);
}

section {
    margin: 0 auto;
}

/* -----HOME PAGE----- */
#carga {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFF4E2;
    z-index: 1000;
    transition: 1s;
}

#porcentaje {
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: 5vw;
    color: #3C291B;
}

.bg-video {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bg-video > video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .bg-video > video {
        height: 300%;
        top: -100%;
    }
}
  
@media (max-aspect-ratio: 16/9) {
    .bg-video > video {
        width: 300%;
        left: -100%;
    }
}

header {
    height: 100vh;
    width: 100%;
    z-index: 1;
    position: sticky;
    top: calc(-100vh + 4em);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2em;
}

#titles h1 {
    font-size: 6em;
    color: var(--clr-light-2);
}

#titles p {
    padding: 0.5em 0;
    color: var(--clr-light-2);
}

.button-header {
    width: fit-content;
    padding: 1em;
    background-color: var(--clr-light-2);
    color: var(--clr-dark-2);
    border: 0;
    border-radius: var(--buttons-corner);
    margin-top: 1em;
    text-decoration: none;
    font-family: var(--font-body);
}

.button-header:hover {
    background-color: var(--clr-secondary);
}

/* -----MENU----- */
.navContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

#menu {
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    background: var(--clr-dark);
}

.logo {
    display: flex;
    justify-content: left;
    align-items: center;
}

#logo-light,
#logo-dark {
    height: 2.5em;
}

.navMenu {
    padding: 0.5em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navMenu > i,
.navMenu > ul > li:last-child {
    display: none;
}

.navMenu ul {
    width: 24em;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0 !important;
}

#menu .navMenu ul li {
    list-style: none;
}

#menu .navMenu ul li a {
    text-decoration: none;
    font-family: var(--font-body);
    font-weight: 600;
}

#menu .navMenu ul li a:hover {
    color: var(--clr-secondary);
}

#menu .navMenu > i,
#menu .navMenu > ul > li > a {
    color: var(--clr-light);
}

.themeSearch {
    display: flex;
    flex-direction: row;
}

#search-input {
    transition: width 0.3s ease;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--clr-light); 
    padding: 5px; 
    outline: none; 
    color: var(--clr-light);
}

#search-input::placeholder {
    color: var(--clr-light); 
}
  
#search-form {
    position: relative;
}

#theme-toggle {
    background-color: transparent;
    border: none;
}

/* -----FACTS SECTION----- */
#funFacts {
    width: 100%;
    height: 30vh;
    background-color: var(--clr-secondary);
}

#funFacts .container {
    max-width: 100% !important;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#funFacts .row {
    width: 100%;
}

#funFacts .row i {
    margin: 1em;
}

#funFacts .col {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--clr-light-2);
    font-family: var(--font-body);
}

.facts {
    text-align: left;
}

.facts h3 {
    font-size: 2em;
}

.facts p {
    font-size: 0.8em;
}

/* -----BEST SELLERS SECTION----- */
#bestSellers {
    padding: 5em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bestSellers h2 {
    font-size: 5em;
    color: var(--clr-dark);
    padding-bottom: 0.8em;
}

#bestSellers .card-body {
    color: var(--clr-dark-2);
    background-color: var(--clr-accent);
    padding: 2em;
}

#bestSellers .card-body h3 {
    font-size: 2em;
}

.button-1 {
    color: var(--clr-dark-2);
    background-color: var(--clr-accent);
    border-radius: var(--buttons-corner);
    padding: 0.6em 4em;
    text-align: center;
    font-weight: 600;
    font-size: 0.9em;
    margin-top: 4em;
    width: 30%;
    text-decoration: none;

}

.button-1:hover {
    background-color: #799cda;
    cursor: pointer;
    color: var(--clr-light-2);
}

/* -----SIGN UP SECTION----- */
#signUp {
    width: 100%;
    height: 38vh;
    background-color: var(--clr-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signUp h3 {
    font-size: 3.5em;
    color: var(--clr-light-2);
}

#signUp p {
    font-size: 1.2em;
    color: var(--clr-light-2);
    margin-bottom: 1.2em;
}

#formsSU {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#form-1 {
    width: 24%;
}

.form-su {
    transition: width 0.3s ease;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--clr-light-2); 
    padding: 5px; 
    outline: none; 
    color: var(--clr-light);
    margin-bottom: 2em;
}

.form-su::placeholder {
    color: var(--clr-light-2);
}

.form-su:focus{
    background-color: transparent;
    outline: none;
}

.btn-su {
    background-color: var(--clr-light-2);
    color: var(--clr-dark-2);
    border-radius: var(--buttons-corner);
    width: 15%;
    border: none;
    margin-left: 3em;
    height: 28%;
    font-weight: 600;
}

.btn-su:hover {
    background-color: var(--clr-dark-2);
    color: var(--clr-light-2);
}

/* -----GALLERY SECTION----- */
#gallery {
    display: flex;
    flex-direction: column;
    margin-bottom: 4em;
}

#gallery h2 {
    font-size: 5em;
    color: var(--clr-dark);
    padding-bottom: 0.5em;
    text-align: center;
    margin-top: 0.8em;
}

.carousel {
    margin-bottom: 2em;
}

.carousel-cell {
    width: 400px;
    height: 400px;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 5px;
    counter-increment: carousel-cell;
}

.flickity-prev-next-button .arrow {
    fill: var(--clr-dark-2);
}

.flickity-prev-next-button.no-svg {
    color: var(--clr-light-2);
}

/* -----FOOTER----- */
footer {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-dark);
    align-items: center;
    padding: 2em;
    color: var(--clr-light);
}

.terms p,
#sm p {
    margin-bottom: 0.5em !important;
    font-size: 0.9em;
}

.terms p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.nl-text p {
    margin-bottom: 1.5em;
    font-size: 0.9em;
}

.nl-text p:first-child {
    font-weight: 600;
}

.nl {
    display: flex;
    flex-direction: row;
}

.form-nl {
    transition: width 0.3s ease;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--clr-light); 
    padding: 5px; 
    outline: none; 
    color: var(--clr-light) !important;
}

.form-nl::placeholder {
    color: var(--clr-light);
}

.form-nl:focus {
    background-color: transparent;
}

#sm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sm p {
    margin-top: 0.8em;
}

.iconsSM i:hover {
    cursor: pointer;
    color: var(--clr-accent) !important;
}